<link rel="manifest" href="/assets/img/favicons/site.webmanifest?v=6">

<link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-chrome-192x192.png?v=6">
<link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicons/android-chrome-512x512.png?v=6">
<link rel="icon" type="image/svg+xml" href="/assets/img/favicons/favicon.svg?v=6">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png?v=6">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-96x96.png?v=6">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png?v=6">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png?v=6">