<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <div id="avatar">
      <img src="{{ '/assets/img/tc_logo_tp.png' | relative_url }}" alt="Turbo Camaro Logo">
    </div>
  </header>

  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <li class="nav-item{% if page.layout == 'home' %} active{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>HOME</span>
        </a>
      </li>
      {% for tab in site.tabs %}
        <li class="nav-item{% if tab.url == page.url %} active{% endif %}">
          <a href="{{ tab.url | relative_url }}" class="nav-link">
            <i class="fa-fw {{ tab.icon }}"></i>
            <span>{{ tab.title | upcase }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
        <i class="fas fa-adjust"></i>
      </button>
      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      <a href="{{ entry.url }}" aria-label="{{ entry.type }}" target="_blank" rel="noopener noreferrer">
        <i class="{{ entry.icon }}"></i>
      </a>
    {% endfor %}
  </div>
</aside>
