---
# Jekyll needs these dashes to process the file
---
@import "main";

/* Mobile Logo & Sticky Header */
@media (max-width: 849px) {
  #topbar-wrapper {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1050;
    background-color: var(--main-bg);
    border-bottom: 1px solid var(--main-border-color);
  }

  #topbar-title {
    color: transparent !important;
    background: url('/assets/img/tc_logo_tp.png') no-repeat center !important;
    background-size: contain !important;
    display: block !important;
    height: 35px;
  }

  #main-wrapper {
    padding-top: 65px !important;
  }
}